<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="assets/CS-NAV.png" [routerLink]="['/inicio']" style="max-width:60px" alt="App-page">
      
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong></strong></a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- 
          <button class="btn btn-outline-dark" type="submit"><i class="bi bi-github"></i></button>
          <button class="btn btn-outline-primary" type="submit"><i class="bi bi-linkedin"></i></button>
          -->
        </form>
      </div>
    </div>
  </nav>
